@import 'bootstrap';

body {
  background-color: rgb(62, 160, 240);
}

.btn {
  background-image: url(https://cdn.clipart.email/84aaacacb8967fca69a869c049f46e05_yoda-head-clipart_256-256.png);
  background-position-x: 25%;
  background-position-y: 25%;
  text-decoration-style: wavy;
}
